@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 480px) {
    .card {
        width: 90vw;
        height: 45vh;
    }

    .text {
        height: 25vh;
    }

    .adviceId {
        padding-bottom: 20px;
    }

    .adviceText {
        font-size: 1.25rem;
        padding-bottom: 10px;
    }

    .desktopDiv {
        display: none;
    }

    .diceIcon {
        transform: translateY(-32px);
    }

}

@media (min-width: 481px) {
    .card {
        width: 500px;
        height: 325px;
    }

    .text {
        height: 150px;
    }

    .adviceId {
        padding-bottom: 10px;
    }

    .adviceText {
        font-size: 28px;
    }
    
    .mobileDiv {
        display: none;
    }

    .diceIcon {
        transform: translateY(-30px);
    }



}


body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.card {
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.text {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.adviceId {
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    letter-spacing: 3px;
}

.adviceText {
    color: #fff;
    text-align: center;
}

.divider {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diceIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    transition: all 0.75s ease-in-out;
    
}

.diceIcon:hover {
    box-shadow: 0 5px 35px hsl(150, 100%, 66%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.attribution a { 
    color: hsl(150, 100%, 66%); 
    text-decoration: none;
}